<%= form_for @author do |f| %>

  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@author.errors.count, "error") %> prohibited
        this author from being saved:
      </h2>
      <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :first_name, "First name" %><br>
    <%= f.text_field :first_name %>
  </p>
 
  <p>
    <%= f.label :last_name, "Last name" %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :homepage, "Homepage" %><br>
    <%= f.text_field :homepage %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
